<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Added Successfully</title>
</head>
<body>
     <h3>Employee Addded successfull</h3>
     <h2>Details:</h2>
     <h4>Name: <span th:text="${employee.name}"></span></h4>
     <h4>Age: <span th:text="${employee.age}"></span></h4>
     <h4>Salary: <span th:text="${employee.salary}"></span></h4>
      <h4>Address: <span th:text="${employee.address}"></span></h4>
</body>
</html>